<?xml version="1.0" encoding="utf-8" ?>

<log4net>

  <appender name="RollingFileProduccionAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\NET6ANGULARAPPLICATION"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <datepattern value="\\yyyy\\MMM\\dd\\P\r\o\d\u\c\c\i\o\n\L\o\g\.\x\m\l"/>
    <maxSizeRollBackups value="5"/>
    <staticLogFileName value="false"/>
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
      <locationInfo value="true"/>
    </layout>
    <threshold value="ALL"/>
  </appender>

  <appender name="UdpAppender-Produccion" type="log4net.Appender.UdpAppender">
    <remoteAddress value="239.0.0.1"/>
    <remotePort value="8010"/>
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
      <locationInfo value="true"/>
    </layout>
    <threshold value="WARN"/>
  </appender>

  <appender name="RollingFileDesarrolloAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\NET6ANGULARAPPLICATION"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <datepattern value="\\yyyy\\MMM\\dd\\D\e\s\a\r\r\o\l\l\o\L\o\g\.\x\m\l"/>
    <maxSizeRollBackups value="5"/>
    <staticLogFileName value="false"/>
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
      <locationInfo value="true"/>
    </layout>
    <threshold value="ALL"/>
  </appender>

  <appender name="UdpAppender-Desarrollo" type="log4net.Appender.UdpAppender">
    <remoteAddress value="239.0.0.1"/>
    <remotePort value="8011"/>
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
      <locationInfo value="true"/>
    </layout>
    <threshold value="ALL"/>
  </appender>

  <appender name="RollingFileDebugAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\NET6ANGULARAPPLICATION"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <datepattern value="\\yyyy\\MMM\\dd\\D\e\b\u\g\L\o\g\.\x\m\l"/>
    <maxSizeRollBackups value="5"/>
    <staticLogFileName value="false"/>
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
      <locationInfo value="true"/>
    </layout>
    <threshold value="ALL"/>
  </appender>

  <appender name="UdpAppender-Debug" type="log4net.Appender.UdpAppender">
    <remoteAddress value="239.0.0.1"/>
    <remotePort value="8012"/>
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
      <locationInfo value="true"/>
    </layout>
    <threshold value="ALL"/>
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level [%property{NDC}] - %message%newline"/>
    </layout>
    <threshold value="ALL"/>
  </appender>



  <logger name="Produccion">
    <appender-ref ref="RollingFileProduccionAppender"/>
    <appender-ref ref="UdpAppender-Produccion"/>
  </logger>

  <logger name="Desarrollo">
    <appender-ref ref="RollingFileDesarrolloAppender"/>
    <appender-ref ref="UdpAppender-Desarrollo"/>
  </logger>

  <logger name="Debug">
    <appender-ref ref="RollingFileDebugAppender"/>
    <appender-ref ref="UdpAppender-Debug"/>
    <appender-ref ref="ConsoleAppender"/>
  </logger>

</log4net>